<div class="search_controls">
	<div class="ui-widget search_controls">
		<div class="container">
	    <ul class="nav nav-pills">
	        <li class="nav active" value="title"><a href="#" data-toggle="tab">Title</a></li>
	        <li class="nav" value="director"><a href="#" data-toggle="tab">Director</a></li>
	    </ul>
		</div>
		<span>
			<input id="search_input" type="text">
			<button id="search_button" type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-search"></i></button>
		</span>
	</div>
	<div class="search_button"></div>
</div>
<div id="map"></div>
